{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="pv3 bg-black-60">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}

<header class="bg-black-90 sticky w-100 ph3 pv3 pv4-ns ph4-m ph5-l z-1">
  <nav class="f6 fw6 ttu tracked w-70-ns center">
    <a class="link dim white dib mr3" href="{{ relURL "/tags/news/" }}" title="Noticias">Noticias</a>
    <a class="link dim white dib mr3" href="{{ relURL "/tags/documentation/" }}" title="Documentación">Documentación</a>
    <a class="link dim white dib mr3" href="{{ relURL "/tags/features/" }}" title="Características">Características</a>
    <a class="link dim white dib mr3" href="{{ relURL "/tags/solution/" }}" title="Solución">Solución</a>
    <a class="link dim white dib mr3" href="{{ relURL "/tags/study-material/" }}" title="Material de estudio">Material de estudio</a>
    <a class="link dim white dib mr3" href="{{ relURL "/search/" }}" title="Búsqueda">Búsqueda</a>
    <a class="link dim white dib" href="https://omegaup.org/" title="Acerca de">Acerca de</a>
  </nav>
</header>
